@charset "utf-8";
/* CSS Document */


@media only screen and (max-width: 767px){
	header{
		position: static;
	}
	.leader {
	    background-image: url(../images/leader_bg.jpg);
	    background-position: center left;
	    background-size: cover;
	    height: 1500px;
	    position: relative;
	}
	.leader .thumbnail:nth-child(1) {
	    position: relative;
	    left: 0;
	    top: 400px;
	}
	.leader .thumbnail:nth-child(2) {
	    position: absolute;
	    left: 0;
	    top: 0;
	}
	.leader .thumbnail {
	    left: 50% !important;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(3) {
	    position: absolute;
	    left: 0;
	    top: 800px;
	}
	.leader {
	    background-image: url(../images/leader_bg.jpg);
	    background-position: center left;
	    background-size: cover;
	    height: 1350px;
	    position: relative;
	}
	.want_to {
	    background: linear-gradient(45deg, #105585, #1b1b40);
	    position: relative;
	    width: 100%;
	    padding: 20px 0px;
	}
	.btn_get{
		display: none;
	}
	.info_bg{
		padding: 0px;
	}
	.leader:before{
		width: 100%;
	}
	.companies:before{
		width: 100%;
	}
	.navbar-header {
		float: none;
	}
	.navbar{
		background-size: cover;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	    background-color: #066184;
	}
	.navbar-inverse .navbar-toggle {
	    border-color: #066184;
	    margin-top: 12px;
	    border-radius: 2px;
	}
	.navbar-toggle{
		background-color: #066184;
	}
	.navbar-brand{
		padding: 0px;
	}
	.navbar-brand img{
		width: 200px;
	}
	.nav>li{
		text-align: center;
	}
	.navbar-nav {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    margin: 0px;
	}
	.carousel-caption {
	    right: unset;
	    left: 15px;
	    padding-bottom: 30px;
	    text-align: left;
	    bottom: unset;
	    top: 60%;
	    transform: translateY(-60%);
	    width: 85%;
	}
	.carousel-caption h1 {
	    color: #fff;
	    text-transform: uppercase;
	    font-family: Rajdhani-Bold;
	    font-size: 20px;
	    position: relative;
	    padding-bottom: 30px;
	}
	.carousel-caption p {
	    color: #cacaca;
	    font-family: Rajdhani-Regular;
	    font-size: 14px;
	}
	.carousel-caption h1:before {
	    content: '';
	    position: absolute;
	    width: 20px;
	    height: 1px;
	    background: #00d8ff;
	    left: 0;
	    bottom: 15px;
	}
	.want_to h4 {
	    text-align: center;
	}
	.want_to h2 {
	    text-align: center;
	    font-size: 22px;
	}
	.want_to img {
	    margin: 20px auto 30px;
	    width: 200px;
	}
	.want_to {
	    background: linear-gradient(45deg, #105585, #1b1b40);
	    position: relative;
	    width: 100%;
	    padding: 60px 0px 20px;
	}
	.infamous {
	    background: linear-gradient(45deg, #105585, #1b1b40);
	    padding: 0px 0px;
	    border-left: 0px;
	    border-right: 0px;
	}
	.main_header h1{
		font-size: 20px;
	}
	.main_header {
	    padding-top: 50px;
	    padding-bottom: 20px;
	}
	.info_bg .table img:first-child {
	    padding-left: 0;
	    float: none;
	    width: 100px;
    margin-bottom: 15px;
	}
	.info_bg .table h4 {
	    font-family: Rajdhani-Regular;
	    color: #fff;
	    padding-top: 0;
	}
	/*.info_bg .table h4 {
	    font-family: Rajdhani-Regular;
	    color: #fff;
	    padding-top: 0;
	    font-size: 16px;
	}*/
	.info_bg .table h4 {
	    font-family: Rajdhani-Regular;
	    color: #fff;
	    padding-top: 0;
	    font-size: 14px;
	    position: absolute;
	    bottom: 5px;
	    text-align: center;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.more_img{
		margin-bottom: 30px;
		width: 150px;
	}
	.btn_div img {
	    margin: 0px auto;
	    width: 200px;
	}
	.leader_header h1 {
	    color: #fff;
	    font-family: Rajdhani-SemiBold;
	    text-transform: uppercase;
	    text-shadow: 0 0 40px #0072bc;
	    padding: 50px 0px 70px;
	    font-size: 28px;
	}
	.leader_text h3 {
	    font-family: Rajdhani-Regular;
	    color: #fff;
	    font-size: 18px;
	}
	.leader_text h2 {
	    font-family: Rajdhani-SemiBold;
	    color: #fff;
	    font-size: 22px;
	}
	.leader_text {
	    position: absolute;
	    bottom: -55px;
	    text-align: center;
	}
	.leader .number_img{
		width: 70px;
	}
	.ranking{
		padding: 0px;
		padding-top: 30px;
	}
	.ranking_area.ranikng_edit ul li {
	    height: auto;
	    width: auto;
	    font-size: 12px;
	    color: #748cc6;
	    text-transform: uppercase;
	    text-shadow: none;
	        padding: 0px 0px 0px 15px;
	}
	.ranking_area ul li:nth-child(3) {
    margin-left: 0;
}
.ranking_area ul li:nth-child(3) img{
	width: 20px;
}
.ranking_area ul li:nth-child(1){
	padding-left: 5px;
}
	.ranking_area ul li {
	    float: left;
	    color: #fff;
	    font-family: Rajdhani-Medium;
	    width: auto;
	    height: 50px;
	    align-items: center;
	    justify-content: center;
	    display: flex;
	    font-size: 13px;
	}
	.rank_pro {
	    position: relative;
	    left: 0;
	    top: 0;
	    width: 75px;
	    height: unset;
	}
	.ranking_area ul li:last-child {
	    float: right;
	    padding-right: 5px;
	    text-shadow: 0 0 20px #00e7ff;
	}
	.ranking_area{
		margin: 15px 0px 0px;
		margin-bottom: 0px;
	}
	.companies_header h1{
		font-size: 28px;
		margin: 0px 0px 10px;
	}
	.companies_header {
	    padding-top: 60px;
	    padding-bottom: 0px;
	}
	.companies .thumbnail img{
		width: 200px;
	}
	.companies .thumbnail .caption{
		text-align: center;
	}
	.companies .thumbnail h4{
		font-size: 16px;
	}
	.companies .thumbnail h4:before {
	    content: '';
	    position: absolute;
	    width: 25px;
	    height: 1px;
	    background: #00d8ff;
	    left: 50%;
	    bottom: -25px;
	    transform: translateX(-50%);
	}
	.companies .thumbnail p {
	    font-size: 12px;
	    color: #fff;
	    font-family: Rajdhani-Regular;
	}
	.companies .thumbnail h4 {
	    position: relative;
	    top: -50px;
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-family: Rajdhani-SemiBold;
	    text-shadow: 0 0 40px #00aeef;
	}
	.companies .btn_div {
	    margin: 0px 0px;
	}
	.companies_ul {
	    margin: 0px 0px 20px;
	    display: inline-block;
	    width: 100%;
	}
	.companies_ul li {
	    padding: 5px;
	}
	.leader_header h1 {
	    padding: 60px 0px 50px;
	    font-size: 28px;
	}
	.work_img img {
	    position: relative;
	    top: 0;
	    right: 0;
	}
	.work_text {
	    width: 100%;
	    padding-top: 0;
	    margin-bottom: 0;
	}
	.work_text h2 {
	    color: #fff;
	    font-family: Rajdhani-SemiBold;
	    margin: 10px 0px;
	    font-size: 20px;
	}
	.work_text p {
	    color: #fff;
	    font-family: Rajdhani-Regular;
	    font-size: 14px;
	}
	.work_text h3 {
	    color: #fff;
	    font-family: Rajdhani-Regular;
	    font-size: 20px;
	}
	
	.work_right .work_text {
	    float: none;
	}
	.how_woek{
		padding-bottom: 20px;
	}
	.social ul {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.footer_content .social li a {
	    color: #fff;
	    font-size: 20px;
	    padding: 5px;
	    transition: 0.3s;
	}
	.footer_content ul li a {
	    color: #5e6b6e;
	    font-family: Rajdhani-Regular;
	    font-size: 14px;
	    padding: 5px 0px;
	    display: inline-block;
	    transition: 0.3s;
	}
	.footer_content h2 {
	    font-family: Rajdhani-Medium;
	    text-transform: uppercase;
	    color: #fff;
	    font-size: 18px;
	    margin: 10px 0px;
	}
	.social p {
	    float: none;
	    padding-top: 10px;
	    font-family: Rajdhani-Regular;
	    color: #5e6b6e;
	    font-size: 14px;
	    text-align: center;
	}
	.footer_content ul {
	    padding-bottom: 0;
	}
	.demo2{
		position: sticky;
		animation: fadeIn 0.3s;
	}
	#navv{
		background-color: rgb(25, 38, 51) !important;
	}
	.footer_logo {
	    position: absolute;
	    width: 400px;
	    right: 0;
	    top: -285px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	footer {
	    background-color: #09111c;
	    padding: 150px 0px 0px;
	    overflow: hidden;
	}
	.copy{
		display: none;
	}
	.copy_2{
		display: block;
	}
	.copy_2 .copy {
	    font-family: Rajdhani-Regular;
	    color: #5e6b6e;
	    font-size: 16px;
	    position: relative;
	    top: 0;
	    text-align: center;
	    padding: 50px 0px;
	    display: block;
	}
	.navbar{
	  padding: 0px 0px;
	}
}


@media only screen and (min-width: 768px){
	.copy_2{
		display: none;
	}
}

/*===============================
			max 767px End
=================================*/



@media only screen and (min-width: 768px)and (max-width: 991px){
	.navbar{
	  padding: 0px 0px;
	}
	.btn_get {
	    float: right;
	    padding: 0px;
	    margin-left: 10px;
	}
	.navbar-inverse .navbar-nav>li>a{
		font-size: 14px;
		/*padding-left: 8px;
		padding-right: 8px;*/
	}
	.navbar-inverse .navbar-nav>li {
	    padding-left: 8px;
	    padding-right: 8px;
	}
	.btn_get img{
		width: 150px;
	}
	.navbar-brand>img {
	    display: block;
	    width: 175px;
	}
	.navbar-brand{
		padding-top: 5px;
		padding-left: 0px;
	}
	.navbar-nav {
	    padding-top: 8px;
	}
	.want_to {
	    background: linear-gradient(45deg, #105585, #1b1b40);
	    position: relative;
	    width: 100%;
	    padding: 30px 0px 30px;
	}
	.want_to h2 {
	    font-size: 18px;
	}
	.want_to h4 {
	    margin: 0px 0px 5px;
	}
	.carousel-caption h1 {
	    color: #fff;
	    text-transform: uppercase;
	    font-family: Rajdhani-Bold;
	    font-size: 30px;
	    position: relative;
	    padding-bottom: 40px;
	}
	.carousel-caption h1:before{
		bottom: 20px;
	}
	.infamous {
	    background: linear-gradient(45deg, #105585, #1b1b40);
	    padding: 50px 0px 10px;
	}
	.btn_div img {
	    margin: 0px auto;
	    width: 250px;
	}
	.main_header h1{
		font-size: 30px;
	}
	.leader_header h1{
		padding: 70px 0px 50px;
	}
	.leader_header h1{
		font-size: 30px;
	}
	.ranking{
		padding: 0px;
		padding-bottom: 30px;
	}
	.leader .thumbnail:nth-child(3) {
	    position: absolute;
	    left: 87%;
	    top: 108px;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(2) {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(1) {
	    position: absolute;
	    left: 13%;
	    top: 108px;
	    transform: translateX(-50%);
	}
	.leader{
		height: 650px;
	}
	.companies_ul {
	    margin: 0px 0px 50px;
	    display: inline-block;
	    width: 100%;
	}
	.companies_ul li{
		padding: 10px;
	}
	.companies .thumbnail h4{
		font-size: 20px;
	}
	.companies .thumbnail p{
		font-size: 14px;
	}
	.work_header h1{
		padding-bottom: 0px;
	}
	.work_img img {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 400px;
	}
	.footer_logo {
	    position: absolute;
	    width: 300px;
	    left: -50px;
	    top: -120px;
	}
	.footer_content ul li a {
	    color: #5e6b6e;
	    font-family: Rajdhani-Regular;
	    font-size: 16px;
	    padding: 10px 0px;
	    display: inline-block;
	    transition: 0.3s;
	}
	.copy {
	    font-family: Rajdhani-Regular;
	    color: #5e6b6e;
	    font-size: 14px;
	    position: absolute;
	    top: 300px;
	}
	.footer_content h2{
		font-size: 22px;
	}
	.carousel-caption {
	    right: unset;
	    left: 5%;
	    padding-bottom: 30px;
	    text-align: left;
	    bottom: unset;
	    top: 60%;
	    transform: translateY(-60%);
	    width: 50%;
	}
	.info_bg{
		padding: 50px 20px;
	}
	.info_bg .table h4{
		font-size: 14px;
		padding-top: 25px;
	}
	.info_bg .table img:first-child{
		padding-left: 0px;
		width: 100px;
	}
	.ranking{
		padding: 0px;
	}
}
/*===============================
			768px to 991px End
=================================*/


@media only screen and (min-width: 992px)and (max-width: 1023px){
	.leader .thumbnail:nth-child(3) {
	    position: absolute;
	    left: 87%;
	    top: 108px;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(2) {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(1) {
	    position: absolute;
	    left: 13%;
	    top: 108px;
	    transform: translateX(-50%);
	}
}
/*===============================
			992px to 1023px End
=================================*/



@media only screen and (min-width: 992px)and (max-width: 1199px){
	.leader .thumbnail:nth-child(3) {
	    position: absolute;
	    left: 88%;
	    top: 108px;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(2) {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.leader .thumbnail:nth-child(1) {
	    position: absolute;
	    left: 12%;
	    top: 108px;
	    transform: translateX(-50%);
	}
	.ranking{
		padding: 30px 0px 50px;
	}
	.btn_get img{
		width: 200px;
	}
	.nav>li>a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer_logo {
	    position: absolute;
	    width: 325px;
	    right: 0;
	    top: -133px;
	}
	.copy{
		font-size: 13px;
	}
	.social p{
		font-size: 13px;
	}
	.work_text{
		width: 45%;
	}
	.want_to {
    background: linear-gradient(45deg, #105585, #1b1b40);
    position: relative;
    width: 100%;
    padding: 30px 0px 30px;
}
.want_to h2{
	font-size: 24px;
}
.carousel-caption h1{
	font-size: 36px;
}
.carousel-caption {
    right: unset;
    left: 5%;
    padding-bottom: 30px;
    text-align: left;
    bottom: unset;
    top: 60%;
    transform: translateY(-60%);
    width: 40%;
}
}
/*===============================
			992px to 1199px End
=================================*/




@media only screen and (min-width: 1024px)and (max-width: 1200px){
	
}
/*===============================
			1024px to 1200px End
=================================*/




@media only screen and (min-width: 1600px){
	.carousel-inner>.item>img{
		min-width: 100% !important;
	}
	.carousel-caption{
		left: 15%;
	}
}

@media only screen and (min-width: 1024px){
	.companies .thumbnail img{
		float: left;
	}
	.work_text p {
	    color: #fff;
	    font-family: Rajdhani-Regular;
	    font-size: 20px;
	    width: 95%;
	}
	.work_text h2{
		font-size: 36px;
	}
	/*.work_div{
		width: 85%;
		margin: 0px auto;
	}
	.work_text {
	    width: 70% !important;
	    padding-top: 100px;
	    margin-bottom: 150px;
	}*/
	.work_div:nth-child(1){
		width: 85%;
		margin: 0px auto;
	}
	.work_div:nth-child(3){
		width: 85%;
		margin: 0px auto;
	}
	.work_div:nth-child(1) img, .work_div:nth-child(3) img{
		right: 10%;
	}
	.work_div:nth-child(4) img{
		left: 10%;
	}
	.social p {
	    font-size: 14px;
	    margin-right:20%;
	}
}