@charset "utf-8";
/* CSS Document */

@font-face{
  src: url(../fonts/FontAwesome.otf);
  font-family: FontAwesome;
}

@font-face{
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
  font-family: WorkSans;
}

@font-face{
  src: url(../fonts/EncodeSans-VariableFont_wdth,wght.ttf);
  font-family: EncodeSans;
}

@font-face{
  src: url(../fonts/Rajdhani-Bold.ttf);
  font-family: Rajdhani-Bold;
}

@font-face{
  src: url(../fonts/Rajdhani-Light.ttf);
  font-family: Rajdhani-Light;
}

@font-face{
  src: url(../fonts/Rajdhani-Medium.ttf);
  font-family: Rajdhani-Medium;
}

@font-face{
  src: url(../fonts/Rajdhani-Regular.ttf);
  font-family: Rajdhani-Regular;
}

@font-face{
  src: url(../fonts/Rajdhani-SemiBold.ttf);
  font-family: Rajdhani-SemiBold;
}

@font-face{
  src: url(../fonts/Oswald-Stencil.ttf);
  font-family: Oswald-Stencil;
}



body{
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.clear{
  clear: both;
}

a{
  text-decoration: none;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus{
  text-decoration: none;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: EncodeSans !important;
  padding: 0px;
}
body{
  font-family: WorkSans !important;
}
p{
  padding: 0px;
  margin: 0px;
}

:focus{
  outline: 0px;
}

.pd-none{
  padding: 0px;
}

.btn{
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover{
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/*===================
    Header 
====================*/

header{
  position: fixed;
  z-index: 999;
  top: 30px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#header{
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn_get{
  float: right;
  padding: 0px;
  margin-left: 20px;
}
.navbar-inverse{
  background-color: transparent;
}
.navbar{
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
  height: unset;
  min-height: unset;
  background-image: url(../images/navbar-bg.png);
}
.navbar-brand{
   height: unset;
  min-height: unset;
  padding: 0px;
  padding: 10px 0px 0px 20px;
}
.navbar-inverse .navbar-nav>li{
  padding: 0px 15px;
}
.navbar-inverse .navbar-nav>li>a{
    font-family: WorkSans;
    font-size: 16px;
    color: #fff;
    padding: 10px 0px;
}
.navbar-nav{
  padding-top: 20px;
}
.navbar-header {
    float: left;
    padding: 0px;
}
.navbar{
  padding: 5px 0px;
}
.mt-20{
  margin-top: 20px;
}
a{
  font-family: WorkSans;
}
/*===================
    Header End
 ====================*/


/*===================
    Slider
 ====================*/

.carousel-caption {
    right: unset;
    left: 10%;
    padding-bottom: 30px;
    text-align: left;
    bottom: unset;
    top: 52%;
    transform: translateY(-50%);
    width: 60%;
}
.carousel-caption h1{
  color: #fff;
  text-transform: uppercase;
  font-family: EncodeSans;
  font-size: 48px;
  position: relative;
  padding-bottom: 60px;
}
.carousel-caption h1:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background: #00d8ff;
  left: 0;
  bottom: 30px;
}
.carousel-caption p{
  color: #fff;
  font-family: WorkSans;
  font-size: 20px;
}

.our-team .cnt-block p {
    color: #fff !important;
    font-family: WorkSans;
    font-size: 18px !important;
    width: 95%;
    padding-top: 10px;
}

/*===================
    Slider End
 ====================*/



/*===================
    Want To
 ====================*/

.want_to {
    background-image: url(../images/want_to_bg.png);
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 0px;
}



.want_to h4{
  color: #595a5d;
  text-transform: uppercase;
  font-family: Rajdhani-Medium;
  margin: 0px 0px 15px;
}
.want_to h2{
  color: #fff;
  text-transform: uppercase;
  font-family: Rajdhani-SemiBold;
  font-size: 22px;
}
.want_to img {
    margin: 20px auto 0px;
}

/*===================
    Want To End
 ====================*/


/*=================================
    Infamous vulnerabilities
 ===================================*/

 .infamous{
  background: linear-gradient(45deg, #105585, #1b1b40);
  padding: 100px 0px;
 }

.main_header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_header h4{
 font-family: EncodeSans;
  color: #fff;
  text-transform: uppercase;
}
.main_header h1{
  color: #fff;
  text-transform: uppercase;
  font-family: EncodeSans;
  text-shadow: 0 0 40px #00aeef;
  display: inline-block;
  position: relative;
  margin: 0px 0px 30px;
  padding-top: 5px;
  font-size: 46px;
}
.main_header h1:before {
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: -9px;
    opacity: 0.2;
}
.main_header h1:after {
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #fff;
    right: 0;
    top: -9px;
    opacity: 0.2;
}
.info_bg{
  background-image: url(../images/infamous_bg.png);
  background-position: center center;
    background-size: cover;
    padding: 50px 90px 70px;
  float: left;
  width: 100%;
  border: 1px solid #dadada;
  -moz-box-shadow: 0 0 40px rgb(18 139 185 / 1), inset 0 0 40px rgb(18 139 185 / 1);
   -webkit-box-shadow: 0 0 40px rgb(18 139 185 / 1), inset 0 0 40px rgb(18 139 185 / 1);
      box-shadow: 0 0 40px rgb(18 139 185 / 1), inset 0 0 40px rgb(18 139 185 / 1);
}
.infamous .table-bordered>tbody>tr>td{
  -moz-box-shadow: inset 0 0 20px rgb(18 139 185 / 0.8);
   -webkit-box-shadow: inset 0 0 20px rgb(18 139 185 / 0.8);
   box-shadow: inset 0 0 20px rgb(18 139 185 / 0.8);
   border-color: #437e94;
   position: relative;
}
.info_bg .table img{
  
}

.more_img{
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.more_img:hover{
  transform: scale(1.05);
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.info_bg .table img:first-child{
  padding-left: 15px;
  float: left;
}
.info_bg .table h4{
  font-family: Rajdhani-Regular;
  color: #fff;
  padding-top: 40px;
}
.info_bg .table h4 span{
  font-family: Rajdhani-SemiBold;
  color: #fff;
  text-transform: uppercase;
}

.plus{
  position: absolute;
}
.plus-one{
  top: -4px;
  left: -4px;
}
.plus-two{
  top: -4px;
  right: -4px;
}
.plus-three{
  bottom: -4px;
  right: -4px;
}
.plus-four{
  bottom: -4px;
  left: -4px;
}
.table-responsive{
  overflow-x: hidden !important;
}
.btn_div a{
  display: inline-block;
}

.btn_div{
  padding-top: 30px;
  padding-bottom: 0px;
}
.btn_div img{
  margin: 0px auto;
}
.btn_view {
    margin: 50px 0px 0px;
    position: relative;
    border: none;
    border-radius: 0px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 0px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: Rajdhani-Medium;
}

.btn_view:hover span, .btn_view:hover{
  color: #fff !important;
}
.btn_view:hover{
  padding: 0px 10px;
}
.btn_view span{
  color: #527ded;
}
.btn_view:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    top: -6px;
    left: 2px;
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}
.btn_view:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    top: -6px;
    right: 2px;
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.btn_view p:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    bottom: -6px;
    left: 2px;
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.btn_view p:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    bottom: -6px;
    right: 2px;
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

/*========================================
    Infamous vulnerabilities End
 ========================================*/


 /*===================
        Leader
 =====================*/

.leader{
  background-image: url(../images/leader_bg.jpg);
  background-position: center left;
  background-size: cover;
  height: 750px;
  position: relative;
}
.leader:before {
    content: '';
    position: absolute;
    background-image: url(../images/leader_before.png);
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-size: cover;
}

.leader_header h1{
  color: #fff;
  font-family: EncodeSans;
  text-transform: uppercase;
  text-shadow: 0 0 40px #0072bc;
  padding: 100px 0px;
}
.leader img{
  margin: 0px auto;
}
.leader .thumbnail {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    background-image: url(../images/leader_pro_bg2.png);
    background-position: center center;
    background-size: cover;
    padding: 0px;
    width: 250px;
    height: 275px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    float: left;
}
.number_img {
    position: absolute;
    top: -10px;
    transform: translateY(-50%);
}
.flag{
  position: absolute;
    bottom: -15px;
    transform: translateY(-50%);
}
.leader .thumbnail:nth-child(1){
    position: absolute;
    left: 0;
    top: 108px;
}
.leader .thumbnail:nth-child(2){
    position: absolute;
    left: 185px;
}
.leader .thumbnail:nth-child(3){
    position: absolute;
    left: 370px;
    top: 108px;
}
.leader_text {
    position: absolute;
    bottom: -75px;
    text-align: center;
}
.leader_text h2{
  font-family: Rajdhani-SemiBold;
  color: #fff;
}
.leader_text h3{
  font-family: Rajdhani-Regular;
  color: #fff;
}

 /*==================
    Leader End
 ====================*/



.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #34a8c0;
    background-color: transparent;
    transition: 0.8s;
}
@media only screen and (min-width: 768px){
.navbar-inverse .navbar-nav li a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #34a8c0;
    left: 0;
    bottom: 0;
    transition: 0.8s;
    opacity: 0;
}
  .navbar-inverse .navbar-nav>.active>a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #34a8c0;
    left: 0;
    bottom: 0;
    transition: 0.8s;
    opacity: 1;
  }
  .navbar-inverse .navbar-nav li a:hover:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #34a8c0;
    left: 0;
    bottom: 0;
    transition: 0.8s;
    opacity: 1;
  }

}
/*==================
    Ranking
 ====================*/

.ranking{
  background-image: url(../images/ranking_bg.jpg);
  background-position: center center;
    background-size: cover;
       padding: 30px 90px 100px;
           border-bottom: 2px solid #464b65;
}

 .want_to h4{
  color: #cacaca;
  text-transform: uppercase;
  font-family: Rajdhani-Medium;
  margin: 0px 0px 15px;
}

.ranking .table-bordered>tbody>tr>td {
    -moz-box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    -webkit-box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    border-color: #707085;
    position: relative;
}
/*.rank_pro {
    position: absolute;
    left: 0;
    top: 0;
    width: 139px;
    height: 145px;
}
.ranking td ul li{
  float: left;
  position: relative;
  color: #fff;
  font-family: Rajdhani-Medium;
  width: 150px;
  height: 150px;
}*/
.ranking_area ul{
  width: 100%;
}
.ranking_area ul li {
    float: left;
    color: #fff;
    font-family: Rajdhani-Medium;
    width: 100px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
}
.ranking_area ul li:nth-child(3){
  margin-left: 50px;
}
.ranking_area ul li:last-child{
  float: right;
  padding-right: 20px;
  text-shadow: 0 0 20px #00e7ff;
}
.ranking_area{
  -moz-box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    -webkit-box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    box-shadow: inset 0 0 20px hsl(240 9% 48% / 0.8);
    border: 1px solid #707085;
    position: relative;
    display: flex;
    margin: 30px 0px;
}
.rank_pro  {
    position: absolute;
    left: 100px;
    top: -38px;
    width: 139px;
    height: 145px;
}
.ranking_area ul li:nth-child(4){
  width: auto;
  padding-left: 25px;
  font-family: WorkSans;
}
.ranking_area.ranikng_edit{
  box-shadow: none;
  border: none;
}
.ranking_area.ranikng_edit ul li{
  height: 40px;
  width: 100px;
  font-size: 14px;
  color: #748cc6;
  text-transform: uppercase;
  text-shadow: none;
  padding: 0px;
}
/*==================
    Ranking End
 ====================*/


 /*=====================
  For Companies
========================*/

.companies{
  background-image: url(../images/companies_bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
      border-bottom: 2px solid #464b65;
}
.companies .row{
  z-index: 1;
  position: relative;
}
.companies:before{
  content: '';
  position: absolute;
  width: 500px;
  height: 440px;
  background-image: url(../images/companies_header.png);
  background-position: center center;
  background-size: cover;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.companies:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/companies_lobg.png);
    background-position: center center;
    /* background-size: cover; */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.companies_header{
padding-top: 120px;
    padding-bottom: 50px;
}
    
.companies_header h1{
  color: #fff;
  font-family: EncodeSans;
  text-transform: uppercase;
      text-shadow: 0 0 40px #00aeef;
  margin: 20px 0px;
}
.companies_header p{
  font-size: 16px;
  color: #fff;
   font-family: WorkSans;
}
.companies .thumbnail{
  border-radius: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
.companies .thumbnail h4 {
    position: relative;
    top: -75px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Rajdhani-SemiBold;
    text-shadow: 0 0 40px #00aeef;
}

.companies .thumbnail h4:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    background: #00d8ff;
    left: 0;
    bottom: -40px;
}
.companies .thumbnail p{
  font-size: 18px;
  color: #fff;
   font-family: WorkSans;
}
.companies .btn_div {
    margin: 100px 0px 50px;
}
.companies_ul li {
    float: left;
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.companies_ul{
  margin: 50px 0px 120px;
    display: inline-block;
    width: 100%;
}
 /*=====================
  For Companies End
========================*/


/*=====================
  How It Work 
========================*/

.how_woek{
  background-image: url(../images/companies_bg.jpg);
  background-position: center center;
  background-size: cover;
  padding-bottom: 50px;
   border-bottom: 2px solid #464b65;
}
.work_header h1{
  text-shadow: 0 0 40px #00aeef;
  padding: 130px 0px 100px;
}
.work_div{
  position: relative;
  width: 100%;
  clear: both;
}
.work_text {
    width: 50%;
    padding-top: 20px;
    margin-bottom: 150px;
}
.work_text h3{
  color: #fff;
   font-family: Rajdhani-Regular;
}
.work_text h2{
  color: #fff;
  font-family: WorkSans;
  margin: 20px 0px;
}
.work_text p{
  color: #fff;
   font-family: WorkSans !important;
   font-size: 18px;
}

.how_woek .btn_div{
  padding-top: 70px;
  padding-bottom: 70px;
}
.margin_60{
  margin-bottom: 60px !important;
}

.work_img img {
    position: absolute;
    /*top: -115px;*/
    top: 0;
    right: 0;
}
.work_right .work_text{
  float: right;
}
.work_right .work_img img{
  left: 0;
  top: 0;
}

/*=====================
   How It Work End
========================*/


/*=====================
   footer
========================*/

footer{
  background-color: #09111c;
  padding: 80px 0px 0px;
  overflow: hidden;
}
.footer_content h2{
  font-family: Rajdhani-Medium;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  margin: 20px 0px;
}
.footer_content ul li a {
    color: #5e6b6e;
    font-family: WorkSans;
    font-size: 18px;
    padding: 15px 0px;
    display: inline-block;
    transition: 0.3s;
}
.footer_content ul li a:hover{
  color: #fff;
    transition: 0.3s;
}
.footer_content ul{
  padding-bottom: 70px;
}
.footer_content .social li{
  display: inline-block;
}
.footer_content .social li a{
  color: #fff;
  font-size: 30px;
  padding: 10px;
  transition: 0.3s;
}
.social ul{
  float: left;
}
.social p{
  float: right;
  padding-top: 10px;
  font-family: WorkSans;
   color: #5e6b6e;
   font-size: 16px;

}
.social ul li a:hover{
    color: #5e6b6e;
    transition: 0.3s;
}
.footer_logo{
    position: absolute;
    width: 450px;
    right: 0;
    top: -150px;
}
.footer_content:before{
  content: '';
  position: absolute;
  width: 1px;
  height: 1000px;
  background-color: #222933;
  left: -50px;
  top: -70px;
  opacity: 0.5;
}
.copy{
  font-family: WorkSans;
   color: #5e6b6e;
   font-size: 14px;
   position: absolute;
   top: 360px;
}
/*=====================
   footer End
========================*/



/*=====================
   legal
========================*/

.legal {
  padding-top: 170px;
  margin-bottom: 100px;
}

.legal h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.legal h3, .legal h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.legal h5 {
  padding-top: 10px;
  font-size: 17px;
  padding-bottom: 5px;
}

.legal li {
  padding-bottom: 5px;
}

.legal p {
  padding-bottom: 10px;
}

/*=====================
   legal End
========================*/

footer.forms {
  margin-top: 100px;
}

.form-body {
  padding-top: 170px;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.custom-button-bg{
  background-image: url(../images/button_bg.png);
  background-size: 100% 90px;
  background-repeat: no-repeat;
  height: 90px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-family: WorkSans;
}
.custom-button-bg:hover{
   color: #fff;
} 
video {
    width: 100%;
}
.our_partners .row img {
    max-width: 200px;
    width: 100%;
}
.our_partners .row {
    display: flex;
    justify-content: space-between;
}
section#partners {
    position: relative;
    background-image: url('../images/partner_banner.png');
    background-position: center center;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid #464b65;
    padding: 40px;
}
section#partners .col-md-12.col-sm-12.col-xs-12 {
    display: flex;
    justify-content: center;
}
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
   text-align:center; 
   margin-bottom:28px; 
   padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
 }
.practice-area .inner h3{ 
    color:#3c3c3c; 
  font-size:24px; 
  font-weight:500;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
  line-height:22px; 
  font-weight:400;
}
.practice-area .inner img{
  display:inline-block;
}


.our-team{
  background: linear-gradient(45deg, #105585, #1b1b40);
  border-bottom: 2px solid #464b65;
 }
.our-team .cnt-block{ 
   float:left; 
   width:100%; 
   background:transparent; 
   padding:30px 20px; 
   text-align:center; 
   box-shadow: inset 0 0 20px rgb(18 139 185 / 0.8);
   margin: 0 0 28px;
}
.our-team .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-team .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-team .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-team .cnt-block h3 a{
  text-decoration:none;
  color:#fff;
}
.our-team .cnt-block h3 a:hover{
  color:#ddd;
}
.our-team .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-team .cnt-block .follow-us{
  margin:20px 0 0;
}
.our-team .cnt-block .follow-us li{ 
  display:inline-block; 
  width:auto; 
  margin:0 5px;
}
.our-team .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-team .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}
#team-member h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
 

.navbar-inverse .navbar-collapse .navbar-nav>.active>a,
 .navbar-inverse .navbar-collapse .navbar-nav>.active>a:focus, 
 .navbar-inverse .navbar-collapse .navbar-nav>.active>a:hover{
    color: #fff !important;
}
 

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: transparent;
  color: #34a8c0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  
  .navbar-inverse .navbar-nav > li {
      padding: 0px 5px;
  }
    
  .carousel-caption {
      right: unset;
      left: 5%;
      padding-bottom: 30px;
      text-align: left;
      bottom: unset;
      top: 75%;
      transform: translateY(-60%);
      width: 80%;
  }
    
    
}