<div class="container">
    <h1>{{ site.data.en.blog.title }}</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ "/blog" | prepend: site.baseurl }}">{{ site.data.en.blog.all }}</a>
        </li>
        {% assign sorted_cats = site.categories | sort %}
        {% for category in sorted_cats %}
        <li class="nav-item">
            <a class="nav-link" href="{{ "/blog" | prepend: site.baseurl }}/categories/{{ category | first | slugify }}">{{ category | first | capitalize }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
    {% for post in paginator.posts %}
        <li>
        <h2><a href="{{ post.url | prepend: site.baseurl  }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
        {{ site.data.en.blog.previous }}
        </a>
    {% else %}
        <span class="previous">{{ site.data.en.blog.previous }}</span>
    {% endif %}
    <span class="page_number">
        {{ site.data.en.blog.page }}: {{ paginator.page }} {{ site.data.en.blog.of }} {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">{{ site.data.en.blog.next }}</a>
    {% else %}
        <span class="next">{{ site.data.en.blog.next }}</span>
    {% endif %}
    </div>
</div>