<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDMS4FK');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Epic bounties - La Plataforma de Bug Bounty de Habla Hispana Epic bounties ayuda a las empresas a reducir los riesgos de seguridad trabajando con la mejor comunidad de hackers éticos hispanohablante{% endif %}" />
    <title>{% if page.title %}{{ page.title }}{% else %}Epic Bounties - Primera plataforma bug bounty de habla hispana{% endif %}</title>

    <link href="images/fav.png" rel="icon">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body {% if page.name contains "formulario" %}class="form-body"{% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDMS4FK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--==============
     Header
 ===============-->
    <header id="header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-inverse" id="navv">
                    <!--== Nav ==-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                     </button>
                        <a id="navbrand" class="navbar-brand" href="#"><img src="images/logo2.png" alt=""></a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul id="mainmenu" class="nav navbar-nav navbar-right">
                            <!-- <li><a href="formulario-webinar.html">Webinar</a></li> -->
                            <li><a href="formulario-hunters.html">Comunidad</a></li>
                            <li><a href="formulario-empresas.html">Empresas</a></li>
                            <li><a href="formulario-empresas.html">MSSPs </a></li>
                            <li><a href="#works">Cómo funciona</a></li>
                            <li><a href="#companies">Beneficios </a></li>
                            <!-- <li><a href="#partner">Partners</a></li>
                <li><a href="#team-member">Nosotros</a></li>-->
                        </ul>

                    </div>
                </nav>
                <!--== Nav End ==-->
            </div>
        </div>
    </header>
    <!--==============
   Header End
 ===============-->