<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> {{ site.title[page.language] }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description[page.language] }}">
  <link rel="icon" href="{{ "/assets/images/favicon.png" | absolute_url }}" />

  <!-- Analytics -->
  {% include analytics/google-analytics.html %}
  {% include analytics/google-tag-manager-head.html %}

  <!-- CSS -->
  <link href="{{ "/assets/css/main.css" | absolute_url }}" rel="stylesheet" />

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
</head>
