<!-- TODO: Merge scripts into a single file to improve performance-->
<!-- TODO: Bump scripts to latest version -->

<!-- Bootstrap & JQuery -->
<script src="{{ "/assets/js/jquery-3.5.1.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/bootstrap.bundle.min.js" | absolute_url }}"></script>

<!-- Carousel -->
<script src="{{ "/assets/js/swiper.min.js" | absolute_url }}"></script>

<!-- Modal Video -->
<script src="{{ "/assets/js/modal-video.min.js" | absolute_url }}"></script>

<!-- Page Preloader -->
<!-- <script src="{{ "/assets/js/preloader.js" | absolute_url }}"></script> -->

<!-- Locomotive Scroll -->
<!-- FIXME: It's glitched. -->
<!-- <script src="{{ "/assets/js/locomotive-scroll.min.js" | absolute_url }}"></script> -->

<!-- Main -->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
