---
    layout: default
    title: Epic Bounties - Blog
    description: Blog
---
<div class="container">
    <h1>News</h1>
    <ul class="nav nav-pills" id="news-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/blog">All posts</a>
        </li>
        {% assign sorted_cats = site.categories | sort %}
        {% for category in sorted_cats %}
        <li class="nav-item">
            <a class="nav-link" href="/blog/categories/{{ category | first | slugify }}">{{ category | first | capitalize }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
    {% for post in paginator.posts %}
        <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
        </a>
    {% else %}
        <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
        <span class="next">Next</span>
    {% endif %}
    </div>
</div>