---
    layout: default
---
<div class="container">
    <h2 class="page-title uppercase">{{ site.data[page.lang].blog.category.all }} "{{ page.title }}"</h2>
    {% assign paginator = page.paginator %}
    <ul>
    {% for post in paginator.posts %}
        <li>
        <h2><a href="{{ post.url | prepend: site.baseurl  }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
        {{ site.data[page.lang].blog.previous }}
        </a>
    {% else %}
        <span class="previous">{{ site.data[page.lang].blog.previous }}</span>
    {% endif %}
    <span class="page_number">
        {{ site.data[page.lang].blog.page }}: {{ paginator.page }} {{ site.data[page.lang].blog.of }} {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">{{ site.data[page.lang].blog.next }}</a>
    {% else %}
        <span class="next">{{ site.data[page.lang].blog.next  }}</span>
    {% endif %}
    </div>
</div>