---
layout: default
---

<style type="text/css">
  .formbox-editor_YNP8A fieldset {
    border: none;
    margin: 0;
    padding: 0 40px;
    position: relative;
  }
  .formbox-editor_YNP8A fieldset > input,
  .formbox-editor_YNP8A fieldset > textarea,
  .formbox-editable-field_YNP8A {
    margin: 10px 0;
    outline: none;
  }
  .spacer-block_YNP8A {
    min-height: 20px;
    padding: 10px 0;
    position: relative;
  }
  .spacer-block-line_YNP8A {
    position: absolute;
    top: 50%;
    left: 40px;
    right: 40px;
    display: none;
    border-top-style: solid;
  }
  .formbox-editor_YNP8A {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
  #formbox_screen_subscribe_YNP8A,
  #formbox_screen_success_YNP8A {
    padding: 30px 0;
  }
  .formbox-title_YNP8A,
  .formbox-text-field_YNP8A {
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
  }
  .formbox-title_YNP8A a,
  .formbox-text-field_YNP8A a {
    text-decoration: none;
  }
  .formbox-title_YNP8A p,
  .formbox-text-field_YNP8A p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    word-break: break-word;
  }

  label.formbox-field-label_YNP8A {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
    line-height: 100%;
    color: #000000;
  }
  label.formbox-label-wrap_YNP8A {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 100%;
    padding-left: 15px;
    text-indent: -15px;
    font-style: italic;
    color: #000000;
  }
  label.formbox-label-wrap_YNP8A:last-of-type {
    margin-bottom: 10px;
  }
  label.formbox-label-wrap_YNP8A input[type="checkbox"],
  label.formbox-label-wrap_YNP8A input[type="radio"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }
  select.formbox-field_YNP8A {
    background-color: #000000;
    border: 2px solid #f1f2f2;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    margin: 10px 0;
    height: auto;
    padding: 2px 0px;
  }

  input.formbox-field_YNP8A {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #f1f2f2;
    border-radius: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
  }
  input.formbox-field_YNP8A.text-placeholder {
    color: #c4c4c4;
    font-weight: normal;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  .formbox-field_YNP8A::-webkit-input-placeholder {
    color: #c4c4c4;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .formbox-field_YNP8A::-moz-placeholder {
    color: #c4c4c4;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .formbox-field_YNP8A:-ms-input-placeholder {
    color: #c4c4c4;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .formbox-button_YNP8A {
    line-height: 100%;
    cursor: pointer;
    margin: 10px 0;
  }
  .formbox-button_YNP8A:hover {
    background-color: #16afe8 !important;
  }
  .formbox-button_YNP8A:active {
    background-color: #0087c0 !important;
  }
  #popupFormLoader_YNP8A {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(https://benchmarkemail.com/images/popup-builder/loadingicon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 800ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 800ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
</style>

<div id="signupFormContainer_YNP8A">
  <div id="signupFormContent_YNP8A">
    <div
      class="formbox-editor_YNP8A"
      style="
        background: #ffffff;
        max-width: 400px;
        border-radius: 0px;
        box-sizing: border-box;
        top: 0px;
      "
    >
      <div
        id="formbox_screen_subscribe_YNP8A"
        style="display: block"
        name="frmLB_YNP8A"
      >
        <input
          type="hidden"
          name="token_YNP8A"
          id="token_YNP8A"
          value="mFcQnoBFKMQd8A1RX0%2FygsVHaffN5KY0FG9K6bwrYQeKfQo3U0m3nQ%3D%3D"
        />
        <input
          type="hidden"
          name="successurl_YNP8A"
          id="successurl_YNP8A"
          value="https://lb.benchmarkemail.com/Code/Welcome?language=Spanish"
        />
        <input
          type="hidden"
          name="errorurl_YNP8A"
          id="errorurl_YNP8A"
          value="http://lb.benchmarkemail.com//Code/Error"
        />
        <fieldset
          class="formbox-field_YNP8A"
          style="text-align: center; padding: 0px 40px"
        >
          <img
            src="https://images.benchmarkemail.com/client1264660/image9429407.png"
            alt="formulario-hunter"
            style="max-width: 100%"
          />
        </fieldset>
        <fieldset class="formbox-field_YNP8A">
          <label class="formbox-field-label_YNP8A">Nombre*</label
          ><input
            type="text"
            placeholder=""
            class="formbox-field_YNP8A text-placeholder"
            onfocus="javascript:focusPlaceHolder(this);"
            onblur="javascript:blurPlaceHolder(this);"
            id="fldfirstname_YNP8A"
            name="fldfirstname_YNP8A"
            maxlength="100"
          />
        </fieldset>
        <fieldset class="formbox-field_YNP8A">
          <label class="formbox-field-label_YNP8A">Correo *</label
          ><input
            type="text"
            placeholder=""
            class="formbox-field_YNP8A text-placeholder"
            onfocus="javascript:focusPlaceHolder(this);"
            onblur="javascript:blurPlaceHolder(this);"
            id="fldemail_YNP8A"
            name="fldemail_YNP8A"
            maxlength="100"
          />
        </fieldset>
        <fieldset class="formbox-field_YNP8A">
          <label class="formbox-field-label_YNP8A">Nick*</label
          ><input
            type="text"
            placeholder=""
            class="formbox-field_YNP8A text-placeholder"
            onfocus="javascript:focusPlaceHolder(this);"
            onblur="javascript:blurPlaceHolder(this);"
            id="fldmiddlename_YNP8A"
            name="fldmiddlename_YNP8A"
            maxlength="100"
          />
        </fieldset>
        <fieldset class="formbox-field_YNP8A">
          <input
            type="hidden"
            name="fldfield1_YNP8A"
            id="fldfield1_YNP8A"
          /><label class="formbox-label-wrap_YNP8A"
            ><input
              class="formbox-field_YNP8A"
              type="checkbox"
              value="Autorizo el tratamiento de mis datos para gestionar el envío de la información que les solicito."
              name="fldfield1_YNP8A"
            />• He leído y acepto la
            <a href="legal.html">Política de Privacidad</a> .</label
          >
        </fieldset>
        <fieldset style="text-align: center">
          <div
            id="btnSubmit_YNP8A"
            onclick="javascript:return submit_YNP8AClick();"
            style="
              word-break: break-all;
              box-sizing: border-box;
              text-align: center;
              display: inline-block;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 15px;
              padding-bottom: 15px;
              background-color: rgb(2, 155, 212);
              border: rgba(0, 0, 0, 0) solid 0px;
              border-radius: 2px;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 20px;
              font-weight: bold;
              color: rgb(255, 255, 255);
              line-height: 1;
              letter-spacing: 1pxpx;
            "
            class="formbox-button_YNP8A"
          >
            Mantenerme informado
          </div>
        </fieldset>
        <fieldset>
          <div class="formbox-title_YNP8A">
            <p>
              <span
                style="
                  font-size: 11px;
                  font-family: Georgia, Times, 'Times New Roman', serif;
                "
                data-mce-style="font-size: 11px; font-family: Georgia, Times, 'Times New Roman', serif;"
              >
                EPIC BOUNTIES (como responsable del tratamiento) tratará los
                datos personales con la finalidad de remitir la información
                solicitada y comunicaciones comerciales, con base en el
                consentimiento. Destinatarios:
                <a href="legal.html">Entidades Colaboradoras</a>. Puede
                ejercitar sus derechos en materia de protección de datos de
                conformidad con lo previsto en la
                <a href="legal.html">Política de Privacidad</a>. Responsable del
                fichero: Epic Bounties SL. Finalidad: gestionar el alta de
                usuarios en la plataforma. Destinatarios: empresa Epic Bounties.
                Derechos: acceder, rectificar y suprimir los datos, así como
                otros derechos, como se explica en la información
                adicional.&nbsp;</span
              >
            </p>
            <p
              style="
                color: #000;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 1;
              "
              data-mce-style="color: #000; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1;"
            >
              &nbsp;<br />
            </p>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
