---
layout: default
---

<div class="container" id="news-container" data-scroll-section>
  <h1 id="news-page-title" class="fw-bold add-short-underline">{{ site.data.news.title[page.language] }}</h1>
  <div class="row" id="news-roll">
    {% assign i = 0 %}
    {% for post in site.posts %}
    {% if post.language == page.language and i < 10 %}
    {% assign i = i | plus:1 %}
    <div class="card card-post news-card d-flex mb-4">
      {% if post.image %}
      <div class="post-feature-image-wrapper">
        <img class="post-feature-image img-fluid" src="{{ "/assets/images/news/"
        | absolute_url | append: post.image }}" alt="" >
      </div>
      {% endif %}
      <div class="card-body">
        <div class="post-date d-inline-block fw-semibold mb-3">
          {{ post.date | date: "%b %-d, %Y" }}
        </div>
        <h5 class="post-title fw-semibold mb-2 pb-1">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h5>
        <p class="card-text mb-2">
          {%- if post.excerpt -%} {{ post.excerpt }} {%- else -%} {{
          post.content | strip_html | truncatewords: '40' | append: "..." }} {%-
          endif -%}
        </p>
        <a href="{{ post.url }}" class="btn-read-more d-inline-flex align-items-center">
          <span class="text-wrapper fw-semibold text-uppercase">{{ site.data.news.more[page.language] }}</span>
          <span class="icon-wrapper lh-0"
            ><img class="icon-arrow-right" src="{{
            "/assets/images/icon-arrow-right-blue.png" | absolute_url }}"
            alt=""></span
          >
        </a>
      </div>
    </div>
   {% endif %}
    {% endfor %}
  </div>
</div>
