---
    layout: default
---
<div class="container">
    <h1>{{ page.title }}</h1>
    <p style="margin: 1rem 0;">{% include date.html date=page.date %}{% comment %} - <a href="{{ "/blog" | prepend: site.baseurl }}/categories/{{ page.category | slugify }}">{{ page.category | capitalize }}{% endcomment %}</a></p>

    {{ content }}
    <ul class="list-inline" style="margin: 1rem 0;">
        <p style="display: inline-block;">{{ site.data[page.lang].blog.tags.title }}:</p>
        {% for tag in page.tags %}
        <li class="list-inline-item"><a href="{{ "/" | prepend: site.baseurl }}{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}.html">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>