  <section
    class="section-testimonials section-bg-hexa-wave-gray pb-lg-0"
    data-scroll-section
  >
    <div class="container container-testimonials" data-scroll>
      <div class="row">
        <div class="col">
          <!-- Swiper -->
          <div
            class="
              swiper-container-wrapper
              swiper-testimonials-wrapper
              swiper-outside-next-prev
              position-relative
              swiper-custom-round-nav
            "
          >
            <div
              id="swiperTestimonials"
              class="swiper-container swiper-testimonials"
            >
              <div class="swiper-wrapper">
                {% for card in site.data.home.testimonials.cards %}
                <div class="swiper-slide">
                  <div class="card-wrapper">
                    <div
                      class="
                        card card-testimonial
                        d-flex
                        flex-column flex-lg-row
                        align-items-center
                        border-0
                      "
                    >
                      <div class="profile-image-wrapper mb-4 mb-lg-0">
                        <img
                          class="img-fluid profile-image"
                          src="{{ "/assets/images/" | absolute_url | append: card.img-big }}"
                          alt=""
                        />
                      </div>
                      <div
                        class="
                          card-body
                          text-center text-md-start
                          ms-md-4 ms-xl-5
                        "
                      >
                        <h2 class="display-5 fw-extra-bold lh-1 mb-4">
                          {{ card.title[page.language] }}
                        </h2>
                        <p class="card-text fw-semibold mb-4">
                          {{ card.text[page.language] }}
                        </p>
                        <div
                          class="
                            avatar-wrapper
                            d-flex
                            align-items-center
                            justify-content-center justify-content-md-start
                          "
                        >
                          <img
                            class="img-fluid avatar-image rounded-circle"
                            src="{{ "/assets/images/"| absolute_url | append: card.img-avatar }}"
                            alt=""
                          />
                          <div class="avatar-details-wrapper text-start ms-3">
                            <h6 class="name fw-extra-bold lh-1 mb-0">
                              {{ card.person-name }}
                            </h6>
                            <div class="job-title fw-medium">
                              {{ card.person-title }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card.card-testimonial -->
                  </div>
                  <!-- /.card-wrapper -->
                </div>
                <!-- /.swiper-slide -->
                {% endfor %}
              </div>
            </div>
            <!-- /.swiper-container -->
            <!-- Add Arrows -->
            <div id="swiperTestimonials-next" class="swiper-button-next">
              <img
                class="icon-arrow-right"
                src="{{ "/assets/images/icon-arrow-right-v2-blue.png" | absolute_url }}"
                alt=""
              />
            </div>
            <div id="swiperTestimonials-prev" class="swiper-button-prev">
              <img
                class="icon-arrow-right"
                src="{{ "/assets/images/icon-arrow-left-v2-blue.png" | absolute_url }}"
                alt=""
              />
            </div>
          </div>
          <!-- /.swiper-container-wrapper.swiper-testimonials-wrapper -->
        </div>
      </div>
    </div>
  </section>

